@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Darker Grotesque', sans-serif;
}

.text-logo {
  width: 1080px;
  height: 640px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}

.el {
  font-size: 170px;
  font-weight: 400;
  opacity: 0;
}


.btn {
  padding: 5px 10px;
  background-color: #f1efef;
  border-radius: 5px;
  margin-top: 10px;
  border: 2px solid #c9c9c9;
  font-size: 1em;
  font-family: Tahoma, sans-serif;
  color: #444343;
  outline: none;
  cursor: pointer;
}
